/* line 4, ../../sass/components/menu.sass */
.media-grid.media-grid-4.reverse li:nth-child(4) {
  background: #482955;
}

/* line 8, ../../sass/components/menu.sass */
.media-grid.media-grid-4.reverse li:nth-child(2) {
  background: #674d72;
}

/* line 12, ../../sass/components/menu.sass */
.media-grid.media-grid-4.reverse li:nth-child(odd) {
  background: #846f8d;
}

/* line 16, ../../sass/components/menu.sass */
.media-grid.media-grid-4 li:nth-child(3) {
  background: #674d72;
}

/* line 20, ../../sass/components/menu.sass */
.media-grid.media-grid-4 li:nth-child(even) {
  background: #846f8d;
}

/* line 24, ../../sass/components/menu.sass */
.media-grid.media-grid-4 li {
  width: 25%;
  height: 200px;
}
